@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#bodyId{
    background: linear-gradient(to bottom right, #f5f5f5, #444444);
}

.material-symbols-sharp {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48
}

/* General properties */
.headerClass, .mainClass, .footerClass{
    font-family: 'Inter', sans-serif;
    position: relative;
}

*{
    font-family: 'Inter', sans-serif;
}

.headerClass{
    margin: 0;
    padding: 0;
}

.navItemContainer{
    justify-content: flex-end;
}

#lightModeBtn, #darkModeBtn, #cartBtn, #loginBtn, #logoutBtn{
    border: none;
    padding: 8px;
    background: transparent;
    text-decoration: none;
    color: #222;
}

#logoImg{
    width: 8rem;
}

/* Login form buttons */
#loginModal #logBtn, #registerBtn, #endClientSession {
    background-color: #F85E00;
    border: 1px solid #F85E00;
    font-weight: 400;
    font-weight: 500;
    border-radius: 50px;
}

#loginModal .registerBtn{
    background-color: transparent;
    border: 1px solid #F85E00;
}

#loginModal .registerBtn:hover{
    background-color: #F85E00;
    border: 1px solid transparent;
    color: #f5f5f5;
}

#loginModal .btn, #registerModal .btn{
    border-radius: 50px;
}

#loginModal #logBtn:hover, #registerModal .registerBtn:hover, #endClientSession:hover{
    background-color: transparent;
    border: 1px solid #F85E00;
}

#visibilityOn, #visibilityOff{
    cursor: pointer
}

/* Modal to cart */
#processCartList, #emptyCartList{
    border-radius: 50px;
    font-weight: 500;
}

#processCartList{
    background-color: transparent;
    border: 1px solid #F85E00;
    color: #f5f5f5;
}

#processCartList:hover{
    background-color: #F85E00;
    color: #222;
}

.deleteProduct{
    font-size: 2rem;
}

#emptyCartList{
    background-color: transparent;
    border: 1px solid #c42847;
    color: #222;
}
#emptyCartList:hover{
    background-color: #c42847;
    color: #f5f5f5;
}

/* Footer */
.footerClass{
    background:linear-gradient(to top, #444444, #f5f5f5);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footerClass .callToActionFooter ul > li a, .footerClass .callToActionFooter ul {
    list-style-type: none;
    text-decoration: none;
    color: #333;
}
.footerClass .callToActionFooter ul > li{
    margin: 16px;
}

.titleTop span{
    color: #f85e00;
}

#sendItem{
    background-color: #F85E00;
    border: 1px solid transparent;
}

/*! us.html */

#sendItem:hover {
    background-color: transparent;
    border: 1px solid #F85E00;
}

/*! products.html */
.productsClass{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.deleteProduct{
    background-color: #c42847;
    border: 1px solid transparent;
}

.deleteProduct:hover{
    background-color: transparent;
    border: 1px solid #c42847;
}

/* Cards here below */
.cardClass{
    width: 18rem;
}

.cardClassRow{
    width: 100%;
}
.card-body .btnClass{
    background-color: #F85E00;
}
.cardsClass img{
    width: 45px;
}
.cardClass .cardRow .cardBodyContainer .cardBody .btnClass:hover{
    border: 1px solid #F85E00;
}
.cardClass .cardBody .btnClass:hover{
    border: 1px solid #F85E00;
}

/*! cart.html */

.cardImg{
    background: #f5f5f5;
}

/*! aboutMining.html */

.externalResources div a{
    color: #222;
}

/** SOLVE COLOR HERE */
section ul .infoItem:hover{
    background: linear-gradient(to top right, rgba(245, 245, 245, 0.3), rgba(245, 245, 245, 0.5), rgba(245, 245, 245, 0.9));
    cursor: default;
    
}
section ul .infoItem h5:hover, section ul .infoItem p:hover{
    color: #222;
    transition-property: background;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}

.imgBackground{
    height: 10rem;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Cart delete btns */
.btnDeleteItem{
    background-color: #c42847;
    border: 1px solid #c42847;
    font-size: 2rem;
}
.btnDeleteItem:hover{
    background-color: transparent;
    border: 1px solid #c42847;
}


